/* START HEADER */
*::selection {
  background-color: var(--main-color);
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.container {
  margin-bottom: 4rem;
}

.logo {
  text-decoration: none;
  align-items: center;
  gap: 8px;
}

.logo:link,
.logo:visited {
  color: var(--text-color);
  font-size: 3rem;
  font-family: var(--main-font);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

nav ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--main-font);
}

nav li:last-of-type a {
  border: solid 2px #fff;
  color: #fff;
  padding: 1.3rem 3.3rem;
  font-weight: 700;
  transition: all 0.3s;
}

nav li:last-of-type a:hover {
  background-color: var(--main-color);
}

header i {
  font-size: 3rem;
  display: none !important;
}
/* END HEADER */

/* START HERO */
.hero {
  margin-bottom: 30vh;
  font-family: var(--main-font);
}

.hero .col h1 {
  font-family: var(--secondary-font);
  font-size: 40px;
  margin-bottom: 15%;
}

.hero .d-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* .hero .d-flex .col {
  width: 500px;
} */

.hero .col p {
  font-size: 20px;
  margin-bottom: 5%;
  padding-left: 1rem;
  position: relative;
}

.hero .col p::before {
  content: "";
  position: absolute;
  background: var(--main-color);
  height: 100%;
  width: 2px;
  left: 0;
}

.hero .col button {
  padding: 1rem 3rem;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.hero .col button:nth-child(1) {
  background: var(--linear-color);
  color: white;
}

.hero .col button:nth-child(2) {
  color: var(--secondary-color);
  background-color: transparent;
}

.hero .col button:nth-child(2) i {
  padding-right: 1rem;
}

.hero .know-more {
  align-items: center;
}
/* END HERO */

/* START FOOTER */
footer {
  background-color: #fdfdfd !important;
}

.footer {
  align-items: center;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
/* END FOOTER */

/* START PROFILE INFO */
.pro-info {
  font-family: var(--main-font);
  color: var(--text-color);
  margin-bottom: 8rem;
}

.contents-prog {
  gap: 8px;
  align-items: center;
  margin-bottom: 8rem;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--secondary-color);
}

.line {
  background: #b9b9c3;
  height: 1px;
  width: 40px;
}

.pro-info h2 {
  font-size: 6.4rem;
  margin-bottom: 8.5rem;
  font-weight: 400;
}

.info-form {
  max-width: 1106px;
}

.pro-title {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.pro-detials {
  color: #575f6e;
  font: size 16px;
  font-weight: 300;
}

.agree-box {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.agree-box input {
  height: 24px;
  width: 24px;
}

.pro-info form input:focus {
  outline-color: var(--main-color);
}

.agree-box a {
  text-decoration: none;
  color: var(--secondary-color);
}

.pro-info form {
  border: 1px solid #e2e3e5;
  border-radius: 8px;
  padding: 3.2rem;
  margin-bottom: 8rem;
}

.pro-info form h5 {
  font-size: 2rem;
}

.pro-info form p {
  font-size: 1.2rem;
  color: #575f6e;
  margin-bottom: 3.2rem;
}

.pro-info form label {
  font-size: 1.4rem;
  display: block;
}

.pro-info form input {
  width: 100%;
  height: 4.4rem;
  border: none;
  border-bottom: 1px solid #e2e4e5;
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.pro-info form + a {
  padding: 12px 32px;
  color: var(--main-color);
  font-size: 1.6rem;
  border: 1px solid var(--main-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 150px;
}

/* END PROFILE INFO */

/* START LOGIN PAGE */
.container-login {
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 25rem;
}

.container-login img {
  max-width: 100%;
  max-height: 100%;
}

.login .container {
  position: relative;
}

/* .container-login div:last-child {
  max-width: 50%;
} */

.container-login div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font);
  gap: 7px;
  font-size: 1.5rem;
  width: 50%;
}

.container-login .text {
  padding-bottom: 30px;
}

.container-login input {
  padding: 10px;
  border: 1px solid #eee;
}

.container-login .submit {
  background-color: var(--main-color);
  color: white;
}

.container-login .vector {
  position: absolute;
  width: 300px;
  height: 200px;
  right: -150px;
  bottom: -170px;
}

/* END LOGIN PAGE */

/* START STATUS */
.status_section h1 {
  font-size: 6.4rem;
  font-family: var(--main-font);
  font-weight: 400;
  max-width: 64.2rem;
  margin-bottom: 11rem;
}

.card {
  margin-bottom: 1rem;
  border-radius: 10px;
  background: #f2f2f2;
  max-width: 78rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-family: var(--main-font);
}

.cardInfo {
  color: var(--text-color);
}

.cardInfo h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.cardInfo p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.btn-apply {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  padding: 1rem 2rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 1rem;
}

.Test {
  margin-bottom: 50vh;
  font-family: var(--main-font);
}

.Test .quiz {
  border: 3px solid #bbb;
  border-radius: 8px;
  padding: 3rem;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: 0;
}

.Test h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 4rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li,
p {
  padding-bottom: 1rem;
}

input[type="radio"] {
  accent-color: var(--main-color);
  margin-right: 1.5rem;
}

.Test p {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.2rem;
  margin: 1.5rem 0;
}

.answer-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
}

.answer-part h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.answer-part label {
  font-size: 2rem;
  line-height: 1.6rem;
  font-weight: 300;
  cursor: pointer;
}

.answer-part span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--main-color);
  display: grid;
  place-content: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.answer-part span i {
  color: #fff;
  font-size: 2rem;
}

/* Small */
/* @media (max-width: 768px) {
  .container {
    max-width: 750px;
  }

  header i {
    display: block !important;
  }

  nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
} */

h2 {
  font-size: 4rem !important;
}
